In [ ]:
''' Q1:  You are working in a bank and you have been given two lists of the employees who worked in 2021.
Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha.
List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita.
 Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function. '''

In [1]:
def common_employees():
  for i in a:
    for j in b:
      if i == j:
        print(i)
a =["Ramesh","Suresh","Mahesh","Ali","Jacob","Saritha"]
b = ["Ali","Mukesh","Mahesh","Jacob","Sai","Sarita"]

common_employees()

Mahesh
Ali
Jacob

In [2]:
'''Q2:  While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”.
 Please write a program which separates all the names and convert them into a list.
 Once converted in a list, please write a program which adds their age.'''
'''Ramesh : 25
   Suresh : 22
   Mohit  : 26  '''

'Ramesh : 25\n   Suresh : 22\n   Mohit  : 26  '

In [3]:
text = "Ramesh Suresh Mohit"
l1 = list(text.split())
age =[25,22,26]
mydict = dict(zip(l1,age))
print(mydict)

{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

In [ ]:
''' Q3: A few students from a university have taken three exams
Name = Sam, Jacy, Tom, Steve
Python = 25, 26, 29, 28
Statistics = 23, 21, 19, 25
SQL = 29, 27, 28, 25

Please write a program which calculates mean values (no in-built function for mean) of all three tests and print the highest mean value.
 Addition and other functions are allowed. Please also report who scored the highest mark in python using programming construct. '''

In [4]:
Name =("Sam","Jacy","Tom","Steve")
python = (25,26,29,28)
statistics = (23,21,19,25)
sql = (29,27,28,25)

mean1 = sum(python)/len(python)
mean2 = sum(statistics)/len(statistics)
mean3 = sum(sql)/len(sql)

if mean1 > mean3:
    print("Python has the highest mean value of ",mean1)
elif mean2 > mean1:
    print("Statistics has the highest mean value of ",mean2)
else:
    print("SQL has the highest mean value of ",mean3)

SQL has the highest mean value of  27.25

In [ ]:
''' Q4: You are working in a medical store.
 A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C.
 One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33.
 Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient? '''

In [5]:
amount = int(input("enter the amount "))

paracetamol = 35
azithromycin = 49
vitamin_c = 33

num1 = int(input("enter the number of strip of paracetamol "))
num2 = int(input("enter the number of strip of azithromycin "))
num3 = int(input("enter the number of strip of vitamin_c "))

print("The total cost of paracetamol is ",paracetamol * num1)
print("The total cost of azithromycin is ",azithromycin * num2)
print("The total cost of vitamin_c is ",vitamin_c * num3)
print("The total  cost of all medicine is ",paracetamol * num1 + azithromycin * num2 + vitamin_c * num3)
print("The amount that needs to be refunded is ",amount - paracetamol * num1 -(azithromycin * num2)-(vitamin_c * num3))

enter the amount 1000
enter the number of strip of paracetamol 3
enter the number of strip of azithromycin 2
enter the number of strip of vitamin_c 6
The total cost of paracetamol is  105
The total cost of azithromycin is  98
The total cost of vitamin_c is  198
The total  cost of all medicine is  401
The amount that needs to be refunded is  599

In [ ]:
''' Q5: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks.
 For example: I am learning python contains 6 vowels. This function should be applicable for all other different sentences. '''

In [6]:
def count_vowels(text):
  vowels = "aeiouAEIOU"
  count = 0
  for i in text:
    if i in vowels:
      count = count + 1
  return count

text = input("Enter the text ")

print ("The number of vowels in this text is: ",count_vowels(text))

Enter the text iusbwnu3uihdwo29u29
The number of vowels in this text is:  7

In [ ]:
''' Q6: You have been appointed by the election commission to create a website.
 Your first task is to work on a program which tells candidates if they are eligible for voting or not.
 If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to return after X number of years.
 Eligibility criteria for voting is 18 years.
For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’.
 If someone’s age is 15 years it should print output as ‘return after 3 years’. '''

In [7]:
age= int(input("Enter your age "))

if age>= 18:
  print("Congrats! You are Eligible.")
elif 18 - age:
  print("You have to return after",18-age,"years")

Enter your age 28
Congrats! You are Eligible.